body.cv {
    color:black;
    background-color:white;
    background-image:url(image/1.jpg);
    }
.contact {
        color:black;
        background-color:white;
        background-image:url(image/contact.png);
        background-size: 100%;
        }
    

h1.title {
    text-align: center;
    text-shadow:0px 5px 10px #4d1454;
    font-family:Trattatello, fantasy;
    font-weight: 1500;
    border: 4mm ridge rgb(170, 50, 220, .6);
}

.rc {
    float: left;
}

.social {
    float:right;
}

#conteiner {display:inline-table;}
#experience {display:table-cell;}
#formation {display:table-cell;}
