body.cv {
    color:black;
    background-color:white;
    background: url(../image/fond.png) no-repeat center fixed;
    background-size: cover;
    }

body.formulaire {
    color:black;
    background-color:white;
    background: url(image/fond.png) no-repeat center fixed;
    background-size: cover;
    }

h1.title {
    text-shadow:0px 5px 10px #4d1454;
    font-family: 'AIRBORNEGPBold'; 
   font-weight: bold; 
   font-style: normal;
   position: relative;
   float: left;
   right: auto;
   left:5% ;
   top: 0;
}

.id {
    padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
    float:left;
    
}

.contact {
    display:inline-flex;
  width:100%;
    height: 300px;
  background:url(image/contact3.png) center center no-repeat;
  background-size: contain;
  background-color: transparent;
  align-items:center;
  justify-content:center;
    text-align: center;
    text-shadow:0px 3px 3px #4d1454;
    font-family: 'AIRBORNEGPBold';
   font-weight: normal; 
   font-style: normal;
   padding-right: 15px;
  padding-left: 15px;
  margin-right: 5px;
  margin-left: 5px;
    }

.flex-row{
  display:flex;
  justify-content:center;
}
.contact .container{
  flex:1;
}


.rc {

    float: left;
    text-shadow:0px 5px 5px #4d1454;
    font-family: 'AmaranthRegular'; 
   font-weight: normal; 
   font-style: normal;
    padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.cleor .apres, .cleor:hover .avant {
    display: none;
}
.cleor:hover .apres {
    display: block;
}
.monaco .apres, .monaco:hover .avant {
    display: none;
}
.monaco:hover .apres {
    display: block;
}
.cocktail .apres, .cocktail:hover .avant {
    display: none;
}
.cocktail:hover .apres {
    display: block;
}
.fnac .apres, .fnac:hover .avant {
    display: none;
}
.fnac:hover .apres {
    display: block;
}
.leclerc .apres, .leclerc:hover .avant {
    display: none;
}
.leclerc:hover .apres {
    display: block;
}
.quickv .apres, .quickv:hover .avant {
    display: none;
}
.quickv:hover .apres {
    display: block;
}
.thanato .apres, .thanato:hover .avant {
    display: none;
}
.thanato:hover .apres {
    display: block;
}
.microvella .apres, .microvella:hover .avant {
    display: none;
}
.microvella:hover .apres {
    display: block;
}



.enhaut {text-align: center;
    text-shadow:0px 2px 5px #4d1454;
    font-family: 'AmaranthRegular'; 
   font-weight: normal; 
   font-style: normal;
    
}

.page1 {
    text-align: center;
    text-shadow:0px 2px 5px #4d1454;
    font-family: 'AmaranthRegular'; 
   font-weight: normal; 
   font-style: normal;
    
}

#conteiner {display:inline-table;
    text-shadow:0px 2px 5px #4d1454;
    font-family: 'AmaranthRegular'; 
   font-weight: normal; 
   font-style: normal; 
}
#experience {display:table-cell;
    text-shadow:0px 2px 5px #4d1454;
    font-family: 'AmaranthRegular'; 
   font-weight: normal; 
   font-style: normal;
    padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#formation {display:table-cell;
     text-shadow:0px 2px 5px #4d1454;
    font-family: 'AmaranthRegular'; 
   font-weight: normal; 
   font-style: normal;
    padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#competences {display: table-cell;
    border: solid thick darkviolet;
 border-radius: 1em;
box-shadow: black 0.5em 0.5em 0.3em;
     text-shadow:0px 2px 5px #4d1454;
    font-family: 'AmaranthRegular'; 
   font-weight: normal; 
   font-style: normal; 
    padding-right: 15px;
  padding-left: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

#basdepage {display:inline-table;
    text-shadow:0px 2px 5px #4d1454;
    font-family: 'AmaranthRegular'; 
   font-weight: normal; 
   font-style: normal; 
    
}


#l { text-shadow:0px 2px 5px #4d1454;
    font-family: 'AmaranthRegular'; 
   font-weight: normal; 
   font-style: normal; 
    
}

#anim1 {
    animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 4px;
    width: 100%;
  }
}

#anim2 {
     animation-duration: 6s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100; 
  }

  to {
    margin-left: 4px;
    width: 100%;
  }
}
